@charset "UTF-8";
body, div, p, ol, ul, li, dl, dt, dd, table, tr, td, form, h1, h2, h3, h4, h5, h6, hr, img, input, fieldset {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #ed145b;
  color: #999; }

body {
  height: 100%;
  font-family: "微软雅黑";
  font-size: 12px; }

html {
  height: 100%; }

ul, ol, li {
  list-style: none; }

.body_content {
  background: #f7f7f7; }
  .body_content .body_box {
    width: 1090px;
    margin: 0 auto;
    color: #999; }
    .body_content .body_box .body_box_tit {
      padding: 22px 0 15px;
      overflow: hidden; }
      .body_content .body_box .body_box_tit li {
        float: left; }
        .body_content .body_box .body_box_tit li span {
          color: #ed145b; }
      .body_content .body_box .body_box_tit .atPresent {
        width: 460px;
        overflow: hidden;
        white-space: nowrap; }
    .body_content .body_box .body_box_content {
      width: 1090px;
      margin: 0 auto;
      padding-top: 3px;
      background: #fff; }
      .body_content .body_box .body_box_content .box_content_mag {
        background: #fff;
        border: 1px solid #fff;
        padding: 25px 48px 30px 25px;
        border-top: none;
        margin: 0 auto; }
        .body_content .body_box .body_box_content .box_content_mag .content_left {
          width: 350px;
          float: left;
          position: relative;
          z-index: 2; }
          .body_content .body_box .body_box_content .box_content_mag .content_left #box_img {
            position: relative;
            width: 350px;
            height: 350px;
            background-image: url(../img/1329220_1000_1000.jpg);
            background-size: 300px 400px;
            border: 1px solid #efefef; }
          .body_content .body_box .body_box_content .box_content_mag .content_left .box_icon {
            margin: 30px 0 0 30px; }
            .body_content .body_box .body_box_content .box_content_mag .content_left .box_icon a {
              float: left;
              font-size: 12px;
              text-decoration: none;
              line-height: 18px !important;
              margin-right: 10px;
              color: #949494; }
        .body_content .body_box .body_box_content .box_content_mag .content_right {
          margin-left: 30px;
          width: 634px;
          float: left; }
          .body_content .body_box .body_box_content .box_content_mag .content_right .right_tit .right_tit_left {
            float: left; }
          .body_content .body_box .body_box_content .box_content_mag .content_right .right_tit .right_tit_logo {
            color: #424242;
            width: 190px;
            height: 42px;
            overflow: hidden;
            float: right; }
            .body_content .body_box .body_box_content .box_content_mag .content_right .right_tit .right_tit_logo img {
              width: 60px;
              height: 40px;
              border-radius: 4px;
              vertical-align: bottom;
              overflow: hidden;
              margin-right: 10px;
              border: 1px solid #eee;
              float: left; }
            .body_content .body_box .body_box_content .box_content_mag .content_right .right_tit .right_tit_logo ul {
              float: left; }
              .body_content .body_box .body_box_content .box_content_mag .content_right .right_tit .right_tit_logo ul li:first-child {
                font-size: 16px;
                color: #666;
                line-height: 20px;
                width: 116px;
                white-space: nowrap; }
              .body_content .body_box .body_box_content .box_content_mag .content_right .right_tit .right_tit_logo ul li:last-child {
                font-size: 14px;
                color: #8d8d8d;
                width: 110px;
                white-space: nowrap; }
          .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_text {
            margin: 24px 0;
            font-size: 16px;
            line-height: 166%;
            color: #333;
            word-wrap: break-word; }
          .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_num .num_size li {
            float: left; }
          .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_num .num_size em {
            font-style: normal;
            font-weight: 400; }
          .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_num .num_size .num_size_left {
            color: #333;
            line-height: 1; }
            .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_num .num_size .num_size_left em {
              font-size: 20px;
              vertical-align: 8px;
              margin-right: 6px; }
            .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_num .num_size .num_size_left span {
              font-size: 36px;
              font-family: arial; }
          .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_num .num_size .num_size_content {
            display: list-item;
            color: #666;
            font-size: 14px;
            margin-left: 20px;
            line-height: 2.3; }
            .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_num .num_size .num_size_content em {
              margin: 0 2px 0 10px; }
          .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_num .num_size .num_size_right {
            float: right;
            color: #858585;
            position: relative; }
            .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_num .num_size .num_size_right .num_size_hhh {
              color: #666;
              cursor: pointer; }
            .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_num .num_size .num_size_right .num_size_right_box {
              position: absolute;
              z-index: 3;
              background: #fff;
              top: 15px;
              right: 0;
              width: 420px; }
              .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_num .num_size .num_size_right .num_size_right_box b {
                border-style: dashed dashed solid;
                overflow: visible;
                font-family: simsun;
                width: 0;
                height: 0;
                line-height: 0;
                font-size: 0;
                display: block;
                position: absolute; }
              .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_num .num_size .num_size_right .num_size_right_box .trigon1 {
                right: 28px;
                top: 7px;
                border-width: 0 7px 8px;
                border-color: transparent transparent #bdb5cd;
                z-index: 1; }
              .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_num .num_size .num_size_right .num_size_right_box .trigon2 {
                right: 29px;
                top: 10px;
                border-width: 0 6px 7px;
                border-color: transparent transparent #fff;
                z-index: 12; }
              .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_num .num_size .num_size_right .num_size_right_box .prompt_dialog_box {
                border: 1px solid #bdb5cd;
                padding: 15px;
                line-height: 200%;
                box-shadow: 3px 3px 8px #efefef;
                color: #bbb;
                position: absolute;
                z-index: 3;
                background: #fff;
                top: 15px;
                right: 0;
                width: 315px; }
                .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_num .num_size .num_size_right .num_size_right_box .prompt_dialog_box .dialog_tit {
                  font-weight: 700;
                  overflow: hidden;
                  width: 355px;
                  height: 40px;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  word-break: keep-all; }
                .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_num .num_size .num_size_right .num_size_right_box .prompt_dialog_box .dialog_content {
                  text-align: left;
                  padding: 20px 0;
                  border-top: 1px solid #ccc; }
                  .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_num .num_size .num_size_right .num_size_right_box .prompt_dialog_box .dialog_content .dialog_cont_tit {
                    color: #333;
                    font-size: 14px; }
                  .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_num .num_size .num_size_right .num_size_right_box .prompt_dialog_box .dialog_content .dialog_cont_text {
                    border: 1px solid #999;
                    margin-top: 20px;
                    padding: 10px;
                    color: #999; }
          .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_num .num_size:after {
            content: ".";
            display: block;
            height: 0;
            overflow: hidden;
            clear: both;
            visibility: hidden; }
          .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_exemption {
            margin-top: 30px;
            color: #949494;
            padding: 8px 0;
            color: #8e8e8e;
            margin-top: 20px; }
            .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_exemption span:nth-of-type(1) {
              margin-right: 8px;
              font-size: 13px;
              float: left; }
            .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_exemption span:nth-of-type(2) {
              float: left; }
            .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_exemption .body_exem_size {
              text-align: center;
              display: inline-block;
              padding: 1px 10px;
              margin-right: 5px;
              margin-bottom: 8px;
              color: #a34fb5;
              border: 1px solid #a34fb5; }
          .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_num:after {
            content: ".";
            display: block;
            height: 0;
            overflow: hidden;
            clear: both;
            visibility: hidden; }
          .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_button {
            margin-top: 20px; }
            .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_button .bdoy_shopping {
              background-color: #ed145b;
              margin-right: 0;
              width: 183px;
              height: 41px;
              line-height: 41px;
              color: #fff;
              font-size: 16px;
              text-align: center;
              cursor: pointer;
              display: inline-block; }
              .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_button .bdoy_shopping span {
                display: inline-block; }
              .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_button .bdoy_shopping i {
                background-image: url(../img/detail_icon.png);
                background-repeat: no-repeat;
                width: 9px;
                height: 14px;
                background-position: -3px -18px;
                overflow: hidden;
                margin-left: 10px;
                vertical-align: middle;
                display: inline-block; }
          .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_bottom {
            color: #8e8e8e;
            margin-top: 12px;
            font-size: 14px; }
            .body_content .body_box .body_box_content .box_content_mag .content_right .right_body .body_bottom span {
              color: #fd4d87;
              margin-left: 3px;
              font-size: 14px;
              font-weight: 700; }
          .body_content .body_box .body_box_content .box_content_mag .content_right .right_tit:after {
            content: ".";
            display: block;
            height: 0;
            overflow: hidden;
            clear: both;
            visibility: hidden; }
      .body_content .body_box .body_box_content .box_content_mag:after {
        content: ".";
        display: block;
        height: 0;
        overflow: hidden;
        clear: both;
        visibility: hidden; }
      .body_content .body_box .body_box_content .box_content_return {
        border: 0;
        box-shadow: none;
        margin-top: -30px;
        margin: 20px auto 20px;
        padding: 20px 0;
        background: #fff; }
        .body_content .body_box .body_box_content .box_content_return .return_img {
          float: left;
          height: 80px;
          width: 200px;
          overflow: hidden;
          position: relative;
          margin-left: 60px;
          cursor: pointer;
          border-right: 1px solid #eee;
          background: url(../img/ss_5.jpg);
          background-position: 0 -220px; }
        .body_content .body_box .body_box_content .box_content_return div:nth-of-type(2) {
          background-position: -240px -220px; }
        .body_content .body_box .body_box_content .box_content_return div:nth-of-type(3) {
          background-position: -460px -220px; }
        .body_content .body_box .body_box_content .box_content_return div:nth-of-type(4) {
          background-position: -680px -220px;
          border: none; }
      .body_content .body_box .body_box_content .box_content_return:after {
        content: ".";
        display: block;
        height: 0;
        overflow: hidden;
        clear: both;
        visibility: hidden; }
    .body_content .body_box .body_box_list {
      height: 52px;
      width: 1090px;
      overflow: hidden;
      background: #f6f6f6;
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5; }
      .body_content .body_box .body_box_list .present_list {
        overflow: hidden;
        float: left; }
        .body_content .body_box .body_box_list .present_list li {
          float: left; }
          .body_content .body_box .body_box_list .present_list li a {
            display: inline-block;
            padding: 15px 25px;
            font-size: 14px;
            color: #333;
            border-right: 1px solid #e5e5e5;
            margin-top: 2px; }
          .body_content .body_box .body_box_list .present_list li a:hover {
            background: #fff;
            border-top: 3px solid #e42141;
            margin-top: -1px;
            text-decoration: none;
            color: #e42141; }
      .body_content .body_box .body_box_list .up_list {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 1001;
        width: 100%;
        background: url(../img/nav1.jpg) repeat-x; }
        .body_content .body_box .body_box_list .up_list .up_list_box {
          overflow: hidden;
          background: 0;
          position: relative;
          border-top: 0;
          border-bottom: 0;
          font-family: arial;
          width: 1090px;
          margin: 0 auto; }
          .body_content .body_box .body_box_list .up_list .up_list_box ul li a {
            color: #fff;
            border-right: 1px solid #4b4b4b;
            padding: 6px 25px;
            display: inline-block;
            font-size: 14px;
            margin-top: 2px; }
          .body_content .body_box .body_box_list .up_list .up_list_box ul li a:hover {
            background: #fff;
            border-top: 3px solid #e42141;
            margin-top: -1px;
            text-decoration: none;
            color: #e42141; }
          .body_content .body_box .body_box_list .up_list .up_list_box .up_list_right {
            display: block;
            position: absolute;
            z-index: 10;
            top: 0;
            right: 0;
            line-height: 21px;
            color: #fff;
            font-size: 18px; }
            .body_content .body_box .body_box_list .up_list .up_list_box .up_list_right .list_right_left {
              margin-right: 10px;
              float: left;
              margin-top: 8px; }
              .body_content .body_box .body_box_list .up_list .up_list_box .up_list_right .list_right_left .jm_price {
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                vertical-align: middle; }
              .body_content .body_box .body_box_list .up_list .up_list_box .up_list_right .list_right_left .nav_price {
                line-height: 21px;
                color: #fff;
                font-size: 18px; }
                .body_content .body_box .body_box_list .up_list .up_list_box .up_list_right .list_right_left .nav_price .market_price {
                  text-decoration: line-through; }
            .body_content .body_box .body_box_list .up_list .up_list_box .up_list_right .list_right_right {
              float: right; }
              .body_content .body_box .body_box_list .up_list .up_list_box .up_list_right .list_right_right .shoppi_carts {
                background-image: url(http://a1.global.jmstatic.com/2104bd38e01a8675/presell.png);
                background-repeat: no-repeat;
                width: 148px;
                height: 36px;
                line-height: 36px;
                text-align: center;
                color: #fff;
                font-size: 16px;
                display: inline-block; }
