@charset "UTF-8";
body, div, p, ol, ul, li, dl, dt, dd, table, tr, td, form, h1, h2, h3, h4, h5, h6, hr, img, input, fieldset {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

body {
  height: 100%;
  font-family: "微软雅黑"; }

html {
  height: 100%; }

ul, ol, li {
  list-style: none; }

header {
  width: 100%;
  height: 177px;
  position: relative; }

.headerInsideTop {
  height: 28px;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  background: #f2f2f2;
  line-height: 28px;
  color: #6c6c6c; }

.headerTop {
  width: 1090px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  font-size: 12px; }

.headerLeft {
  float: left; }

.headerLeft p {
  float: left;
  margin-right: 20px;
  color: #6c6c6c; }

.headerLeft a, .headerRight a {
  float: left;
  margin-right: 20px;
  color: #6c6c6c; }

.headerTop a:hover {
  color: #ed155b;
  text-decoration: none; }

.headerRight {
  float: right; }

.headerRight a {
  color: #999; }

.headerRight a:nth-of-type(5) {
  color: #ed155b; }

.right3 {
  background: url(../img/spriteSheet.png) no-repeat 1px 1px;
  height: 12px;
  width: 12px;
  float: left;
  margin-top: 10px; }

.right4 {
  background: url(../img/spriteSheet2.png) no-repeat 5px 4px;
  height: 10px;
  width: 12px;
  float: right;
  margin-top: 10px; }

#pushDold {
  position: relative;
  padding-left: 10px; }

#pushDolds {
  padding-left: 10px;
  position: relative; }

.pushDoll {
  position: absolute;
  display: none;
  top: 26px;
  left: 790px;
  background: #fff;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  padding: 8px 0;
  width: 110px;
  border-top: 0; }

.pushDolls {
  display: none;
  position: absolute;
  top: 26px;
  right: 18px;
  background: #fff;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  padding: 8px 0;
  width: 110px;
  border-top: 0; }

.pushDoll li {
  padding-left: 20px; }

.pushDolls li {
  padding-left: 20px; }

.right5 {
  background: url(../img/spriteSheet.png) no-repeat 1px -21px;
  height: 15px;
  width: 14px;
  float: left;
  margin-top: 8px; }

.right6 {
  float: left;
  width: 1px;
  height: 16px;
  background: #ddd;
  margin-top: 6px;
  margin-right: 10px; }

.headerInsideCenter {
  height: 90px;
  width: 100%;
  color: #6c6c6c; }

.headerCenter {
  width: 1090px;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 12px;
  height: 100%; }

.logo {
  height: 86px;
  width: 165px;
  float: left; }

.inputCenter {
  float: left;
  margin-left: 124px; }

.centerTop {
  margin-top: 18px;
  margin-bottom: 62px; }

.seek {
  width: 423px;
  height: 18px;
  padding: 7px 5px;
  border: solid #ed145b;
  border-width: 3px 0 3px 3px;
  float: left;
  font-size: 12px;
  color: #999; }

.buttons {
  width: 100px;
  height: 38px;
  border: 0 none;
  color: #fff;
  font-size: 14px;
  line-height: 38px;
  float: left;
  background: #ed145b;
  cursor: pointer;
  padding: 0; }

.centerBottom a {
  color: #999;
  border-right: 1px solid #999;
  height: 12px;
  padding: 0 10px;
  margin: 0; }

.centerBottom a:last-of-type {
  border: 0; }

.centerBottom a:first-of-type {
  padding-left: 0; }

.centerBottom a:hover {
  color: #ed145b; }

.shopping {
  float: right;
  margin-top: 20px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }

.shoppingBox {
  position: relative;
  right: 154px;
  width: 260px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  color: #666;
  font-size: 14px;
  background: #fff;
  display: none; }

.frames {
  display: block;
  width: 138px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #e5e5e5;
  background: #fff;
  z-index: 2;
  cursor: pointer; }

.frames img {
  padding-left: 10px; }

.frames span {
  width: 86px;
  height: 32px;
  line-height: 32px;
  color: #666;
  overflow: hidden;
  float: left;
  padding-left: 6px;
  background: #f8f8f8;
  float: right; }

.frames span:hover {
  color: #ed145b; }

.headerInsideBottom {
  height: 38px;
  width: 100%;
  background: url(../img/nav1.jpg) repeat-x; }

.headerBottom {
  width: 1090px;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 12px; }

.BottomLeft {
  float: left; }

.BottomRight {
  float: right; }

.BottomLeft a {
  float: left;
  color: #fff;
  font-size: 14px;
  padding: 0 22px;
  line-height: 38px;
  margin: 0; }

.Bottomfirst {
  background: url(../img/spriteSheet2.png) no-repeat 6px -3px;
  height: 4px;
  width: 12px;
  float: right;
  margin-top: 19px; }

.BottomLeft a:nth-of-type(1) {
  background: #ed145b;
  padding: 0 40px; }

.BottomRight a:nth-of-type(1) {
  float: left;
  width: 30px;
  height: 32px;
  background: url(../img/z_01new.jpg) no-repeat 0px 4px;
  margin-right: 10px; }

.BottomRight a:nth-of-type(2) {
  float: left;
  width: 30px;
  height: 32px;
  margin-right: 10px;
  background: url(../img/z02.jpg) no-repeat 0px 4px; }

.BottomRight a:nth-of-type(3) {
  float: left;
  width: 30px;
  height: 32px;
  background: url(../img/z03.jpg) no-repeat 0px 4px; }

.noSlideShow {
  width: 100%;
  height: 350px;
  overflow: hidden;
  background: url(../img/noSlideShow.jpg) no-repeat 50% 0; }

.noSlideShow a {
  display: block;
  width: 1090px;
  height: 350px;
  margin: 0 auto; }

.skipButon {
  width: 100%;
  overflow: hidden;
  background: #f7f7f7; }

.skipInterior {
  width: 1115px;
  margin: 20px auto 0;
  overflow: hidden; }

.skipButtonFrame {
  width: 464px;
  margin: 0 auto 20px;
  border: 1px solid #666;
  overflow: hidden; }

.skipButtonLeft {
  background: #666;
  color: #e6e6e6;
  float: left;
  height: 44px;
  width: 232px;
  line-height: 44px;
  font-size: 22px;
  cursor: pointer;
  text-align: center; }

.skipButtonRight {
  float: left;
  height: 44px;
  width: 232px;
  line-height: 44px;
  font-size: 22px;
  text-align: center;
  color: #333;
  background: #f7f7f7;
  position: relative;
  cursor: pointer; }

.leftButtonIndex a {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 535px;
  height: 212px;
  position: relative; }

.maskLayer21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2); }

.rightButtonIndex a {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 535px;
  position: relative;
  height: 212px; }

.skipBottom {
  height: 80px;
  width: 100%;
  background: url(../img/indexBottomImg.jpg) no-repeat top center; }

.everydaySee {
  width: 100%;
  background: #f7f7f7; }

.SeeTitle {
  margin-bottom: 20px; }

.SeeInterior {
  width: 1090px;
  margin: 0 auto;
  overflow: hidden; }

.BoxFrame {
  display: block;
  height: 340px;
  position: relative; }

.global_tip {
  position: absolute;
  z-index: 2;
  left: 10px;
  bottom: 20px;
  font-size: 12px;
  display: none; }
  .global_tip span {
    padding: 6px 8px;
    border: 1px solid #fff;
    color: #666;
    margin-right: 8px;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    background: #fff;
    opacity: .7; }

.BoxFrame .picture1 {
  height: 340px;
  width: 1275px;
  margin-left: -184px; }

.imgSpan {
  position: absolute;
  top: 45px;
  left: 53px;
  width: 120px;
  height: 62px;
  background: url(../img/shopping.png) no-repeat 10px 10px; }

.imgSpan2 {
  position: absolute;
  top: 45px;
  left: 53px;
  width: 120px;
  height: 62px;
  background: url(../img/shopping.png) no-repeat 1px -145px; }

.imgSpan3 {
  position: absolute;
  top: 45px;
  left: 53px;
  width: 120px;
  height: 62px;
  background: url(../img/shopping.png) no-repeat 3px -70px; }

.imgLogo {
  position: absolute;
  left: 0;
  top: 0; }

.BoxRight {
  float: right;
  position: absolute;
  height: 332px;
  width: 382px;
  padding: 0 40px;
  background: #fff;
  top: 18px;
  right: 18px;
  box-shadow: 0 1px 4px #c5c5c5;
  zoom: 1;
  line-height: 1; }

.BoxRightTit {
  width: 174px;
  height: 26px;
  padding: 0 10px;
  background: black;
  margin: 0 auto; }

.BoxRightTit span {
  color: #fff;
  line-height: 26px;
  font-size: 14px; }

.BoxRightCenter {
  color: #767676;
  line-height: 24px;
  height: 142px;
  display: block;
  font-size: 16px;
  margin-top: 36px;
  overflow: hidden; }

.BoxRightCenter span {
  color: #ed145b; }

.BoxRightBottom {
  margin-top: 30px;
  overflow: hidden; }

.BoxRightBottom label {
  vertical-align: 6px;
  font-size: 20px;
  margin-right: 2px; }

.BRBleft {
  float: left; }

.BRBleft span:nth-of-type(1) {
  font-size: 34px;
  color: #000; }

.BRBleft span:nth-of-type(2) {
  text-decoration: line-through;
  font-size: 12px;
  color: #727272; }

.BRBright {
  display: inline-block;
  height: 36px;
  width: 106px;
  line-height: 37px;
  color: #fff;
  background: #e81a62;
  text-align: center;
  font-size: 14px;
  float: right; }

.BoxRightBottom2 {
  height: 45px;
  margin-top: 10px; }

.BoxRightBottom2 span:nth-of-type(1) {
  display: inline-block;
  float: left;
  margin-right: 3px;
  margin-left: -8px; }

.BoxRightBottom2 img {
  width: 134px;
  height: 45px; }

.BoxRightBottom2 span:nth-of-type(2) {
  margin-top: 10px;
  float: right; }

.BoxRightBottom2 label {
  float: left;
  font-size: 18px;
  color: #b9966a;
  vertical-align: middle;
  margin-left: -40px; }

.BoxRightBottom2 span:last-of-type {
  font-size: 12px; }

.boxRemain {
  margin-top: 20px; }

.todayNewshopping {
  width: 100%;
  background: #f7f7f7;
  padding-top: 20px; }

.shoppingTit {
  width: 1090px;
  border-bottom: 2px solid #000;
  position: relative;
  margin: 0 auto; }

.titleLeft {
  background: url(../img/spriteSheet3.png) no-repeat 0 -203px;
  height: 25px; }

.titleRight {
  position: absolute;
  bottom: 6px;
  right: 10px;
  padding-left: 20px;
  color: #ed135d;
  background: url(../img/shoppingslogo.jpg) no-repeat left 4px;
  font-size: 12px; }

.shoppingContent {
  width: 1110px;
  margin-top: 20px;
  margin: 0 auto; }
  .shoppingContent .allShopping .firstShopping {
    float: left;
    display: inline;
    background: #fff;
    margin-right: 20px;
    width: 330px;
    box-shadow: 2px 2px 4px #e3e3e3;
    padding: 10px;
    height: 450px;
    position: relative;
    margin-top: 20px; }
    .shoppingContent .allShopping .firstShopping .shopMessageUp {
      width: 330px;
      height: 345px;
      position: relative; }
      .shoppingContent .allShopping .firstShopping .shopMessageUp .imgBox {
        position: absolute;
        top: 0;
        width: 330px;
        height: 345px;
        display: block;
        overflow: hidden; }
        .shoppingContent .allShopping .firstShopping .shopMessageUp .imgBox .firstShoppingImg {
          height: 345px;
          margin-left: -347px; }
      .shoppingContent .allShopping .firstShopping .shopMessageUp .maskLayer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        height: 30px;
        overflow: hidden;
        display: none;
        background: rgba(0, 0, 0, 0.6); }
        .shoppingContent .allShopping .firstShopping .shopMessageUp .maskLayer .maskLayerContent {
          height: 30px;
          line-height: 30px;
          padding: 0 10px;
          color: #fff;
          text-align: center;
          background: rgba(159, 108, 168, 0.6); }
      .shoppingContent .allShopping .firstShopping .shopMessageUp .maskLayer2 {
        position: absolute;
        top: 0;
        right: 0; }
        .shoppingContent .allShopping .firstShopping .shopMessageUp .maskLayer2 .shopCar {
          display: block;
          width: 79px;
          height: 26px;
          color: #fff;
          background: #ed155b;
          line-height: 26px;
          text-align: center;
          font-size: 12px; }
    .shoppingContent .allShopping .firstShopping .shopMessageDown .shopAllDown {
      margin-top: 10px; }
      .shoppingContent .allShopping .firstShopping .shopMessageDown .shopAllDown p {
        font-size: 14px;
        line-height: 24px;
        color: #333;
        height: 48px;
        font-weight: 400;
        overflow: hidden; }
      .shoppingContent .allShopping .firstShopping .shopMessageDown .shopAllDown .AllDownNum {
        margin-top: 8px;
        height: 48px; }
        .shoppingContent .allShopping .firstShopping .shopMessageDown .shopAllDown .AllDownNum .DownNumLeft {
          float: left;
          height: 45px;
          line-height: 45px; }
          .shoppingContent .allShopping .firstShopping .shopMessageDown .shopAllDown .AllDownNum .DownNumLeft span:nth-of-type(1) {
            color: #ed145b;
            font-family: Arial,Helvetica,sans-serif;
            float: left;
            display: inline;
            font-size: 18px; }
          .shoppingContent .allShopping .firstShopping .shopMessageDown .shopAllDown .AllDownNum .DownNumLeft span:nth-of-type(2) {
            font-size: 22px;
            color: #ed145b;
            font-family: Arial,Helvetica,sans-serif;
            float: left;
            display: inline;
            line-height: 45px; }
          .shoppingContent .allShopping .firstShopping .shopMessageDown .shopAllDown .AllDownNum .DownNumLeft span:nth-of-type(3) {
            text-decoration: line-through;
            color: #929292;
            padding-left: 5px;
            float: left;
            font-family: Arial;
            margin-top: 3px;
            display: inline;
            font-size: 12px;
            line-height: 45px; }
  .shoppingContent .allShopping:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
    visibility: hidden; }

.Beauty {
  width: 100%;
  background: #f7f7f7;
  padding-top: 20px;
  border-bottom: 2px solid #ddd; }
  .Beauty .BeautyTit {
    width: 1090px;
    border-bottom: 2px solid #000;
    position: relative;
    margin: 0 auto; }
    .Beauty .BeautyTit .BeautytitleLeft {
      background: url(../img/spriteSheet3.png) no-repeat 0 0;
      height: 25px; }
    .Beauty .BeautyTit .BeautytitleRight {
      position: absolute;
      bottom: 6px;
      right: 10px;
      padding-left: 20px;
      color: #333;
      background: url(../img/moreicon.png) no-repeat left center;
      font-size: 12px;
      font-family: '\5B8B\4F53'; }
    .Beauty .BeautyTit .BeautytitleRight:hover {
      color: #ed145b; }
  .Beauty .BeautyContent {
    width: 1090px;
    margin: 0 auto;
    margin-top: 20px; }
    .Beauty .BeautyContent .BeautyLeft {
      padding: 10px;
      width: 258px;
      height: 420px;
      background: #fff;
      float: left;
      position: relative; }
    .Beauty .BeautyContent .BeautyRight {
      width: 780px;
      height: 440px;
      background: #fff;
      padding-left: 10px;
      float: right; }
      .Beauty .BeautyContent .BeautyRight .Beautyfirst {
        padding: 10px 10px 0 0;
        width: 380px;
        height: 205px;
        float: left;
        display: inline;
        position: relative;
        position: relative; }
        .Beauty .BeautyContent .BeautyRight .Beautyfirst .BeautyLeftBox {
          display: block;
          position: relative;
          width: 380px;
          height: 205px;
          color: #333; }
          .Beauty .BeautyContent .BeautyRight .Beautyfirst .BeautyLeftBox .BeautyMessage {
            position: absolute;
            top: 70px;
            right: 20px;
            text-align: center;
            width: 150px;
            font-size: 12px; }
            .Beauty .BeautyContent .BeautyRight .Beautyfirst .BeautyLeftBox .BeautyMessage p:nth-of-type(1) {
              width: 150px;
              font-size: 14px;
              font-weight: 700;
              height: 20px;
              overflow: hidden;
              white-space: nowrap; }
            .Beauty .BeautyContent .BeautyRight .Beautyfirst .BeautyLeftBox .BeautyMessage p:nth-of-type(2) {
              margin-top: 5px;
              max-height: 40px;
              overflow: hidden;
              line-height: 20px; }
            .Beauty .BeautyContent .BeautyRight .Beautyfirst .BeautyLeftBox .BeautyMessage p:nth-of-type(3) {
              margin-top: 18px;
              line-height: 1; }
              .Beauty .BeautyContent .BeautyRight .Beautyfirst .BeautyLeftBox .BeautyMessage p:nth-of-type(3) span {
                color: #ed145b;
                font-size: 16px; }
            .Beauty .BeautyContent .BeautyRight .Beautyfirst .BeautyLeftBox .BeautyMessage #timestart {
              margin-top: 15px;
              background: url(../img/timeion.png) no-repeat 5px center; }
  .Beauty .BeautyContent:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
    visibility: hidden; }

.footer {
  width: 100%; }
  .footer .footerBox {
    width: 1090px;
    margin: 0 auto; }
    .footer .footerBox .footerTop {
      padding: 30px 0 15px 0;
      border-bottom: 1px solid #ccc;
      overflow: hidden; }
      .footer .footerBox .footerTop .footPage1 {
        height: 140px;
        color: #999;
        font-size: 14px;
        display: block;
        float: left;
        line-height: 18px;
        overflow: hidden;
        text-align: center;
        width: 130px;
        margin: 0 15px; }
        .footer .footerBox .footerTop .footPage1 .footerIcon1 {
          width: 63px;
          height: 63px;
          display: block;
          overflow: hidden;
          margin: 0 auto 20px;
          cursor: pointer;
          background: url(../img/footer_0901.jpg) no-repeat; }
        .footer .footerBox .footerTop .footPage1 .footerIcon2 {
          width: 63px;
          height: 63px;
          display: block;
          overflow: hidden;
          margin: 0 auto 20px;
          cursor: pointer;
          background: url(../img/footer_new.png) no-repeat -64px 0; }
        .footer .footerBox .footerTop .footPage1 .footerIcon3 {
          width: 63px;
          height: 63px;
          display: block;
          overflow: hidden;
          margin: 0 auto 20px;
          cursor: pointer;
          background: url(../img/footer_new.png) no-repeat -127px 0; }
        .footer .footerBox .footerTop .footPage1 .footerIcon4 {
          width: 63px;
          height: 63px;
          display: block;
          overflow: hidden;
          margin: 0 auto 20px;
          cursor: pointer;
          background: url(../img/footer_new.png) no-repeat -191px 0; }
        .footer .footerBox .footerTop .footPage1 .footerIcon5 {
          width: 63px;
          height: 63px;
          display: block;
          overflow: hidden;
          margin: 0 auto 20px;
          cursor: pointer;
          background: url(../img/footer_new.png) no-repeat -252px 0; }
        .footer .footerBox .footerTop .footPage1 .footerIcon6 {
          width: 63px;
          height: 63px;
          display: block;
          overflow: hidden;
          margin: 0 auto 20px;
          cursor: pointer;
          background: url(../img/footer_new.png) no-repeat -315px 0; }
        .footer .footerBox .footerTop .footPage1 .footerIcon7 {
          width: 63px;
          height: 63px;
          display: block;
          overflow: hidden;
          margin: 0 auto 20px;
          cursor: pointer;
          background: url(../img/footer_new.png) no-repeat -378px 0; }
        .footer .footerBox .footerTop .footPage1 .footertext {
          color: #333;
          font-size: 16px;
          height: 24px;
          line-height: 24px;
          overflow: hidden;
          display: block;
          font-weight: 900; }
      .footer .footerBox .footerTop .footPage1:hover {
        color: #666; }
      .footer .footerBox .footerTop a:first-of-type {
        margin-left: 0; }
      .footer .footerBox .footerTop a:last-of-type {
        margin-right: 0; }
    .footer .footerBox .footerCenter {
      height: 165px;
      padding-top: 30px; }
    .footer .footerBox .footList {
      height: 143px;
      padding-left: 15px;
      float: left;
      margin-right: 70px; }
    .footer .footerBox .footList li {
      font-size: 12px;
      white-space: nowrap; }
    .footer .footerBox .footList li:first-of-type {
      color: #666;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 10px;
      overflow: hidden; }
    .footer .footerBox .footList a {
      height: 22px;
      line-height: 22px;
      color: #666;
      display: block;
      -webkit-transition: transform .4s linear; }
    .footer .footerBox .footList a:hover {
      color: #ea1d5d;
      text-decoration: none;
      -webkit-transform: translateX(10px); }
    .footer .footerBox .footList span {
      color: #666666;
      float: left;
      font-family: 宋体;
      font-size: 12px; }
    .footer .footerBox .QRcard {
      border-left: 1px solid #fff;
      display: inline-block;
      margin-left: 16px; }
      .footer .footerBox .QRcard .QR1 {
        width: 83px;
        text-align: center;
        padding-left: 36px;
        margin-top: 0;
        height: 146px;
        color: #666;
        float: left; }
        .footer .footerBox .QRcard .QR1 p:nth-of-type(1) {
          color: #666;
          font-size: 14px;
          font-weight: 700;
          margin-bottom: 10px;
          overflow: hidden; }
        .footer .footerBox .QRcard .QR1 p:nth-of-type(2) {
          width: 78px;
          height: 78px;
          display: inline-block;
          overflow: hidden;
          margin-left: 3px;
          background: url(../img/header_corn_new_v2.png) 0 -423px; }
        .footer .footerBox .QRcard .QR1 p:nth-of-type(3) {
          font-size: 12px;
          white-space: nowrap;
          overflow: hidden; }
        .footer .footerBox .QRcard .QR1 #QRimg {
          background: url(../img/jumei_weixin_footer.png); }
  .footer .footerBox:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
    visibility: hidden; }
  .footer .FooterImg {
    height: 95px;
    background: url(../img/footer_dy.jpg) center top no-repeat; }
    .footer .FooterImg .ImgCenter {
      width: 360px;
      height: 95px;
      margin: 0 auto; }
  .footer .footerBottom1 {
    height: 48px;
    line-height: 48px;
    overflow: hidden;
    font-size: 12px;
    color: #fff;
    background: url(../img/footer_btm02_bg.jpg) repeat-x center top; }
    .footer .footerBottom1 .FooterBottomBox {
      width: 1080px;
      margin: 0 auto; }
      .footer .footerBottom1 .FooterBottomBox .BottomNav {
        color: #fff;
        padding-right: 12px;
        height: 48px;
        display: inline-block;
        line-height: 48px; }
  .footer .footerBottom2 {
    line-height: 20px;
    padding-bottom: 80px;
    color: #ccc;
    background: url(../img/newindex_footer_bg.png) #404040 center top repeat-x; }
    .footer .footerBottom2 .FooterBottomBox {
      width: 1090px;
      margin: 0 auto;
      overflow: hidden; }
      .footer .footerBottom2 .FooterBottomBox .footer_copy_con {
        padding: 14px 0 18px;
        line-height: 23px;
        color: #ccc;
        font-size: 12px; }
        .footer .footerBottom2 .FooterBottomBox .footer_copy_con a {
          color: #ccc; }
      .footer .footerBottom2 .FooterBottomBox .bottomLog1 {
        width: 126px;
        height: 50px;
        overflow: hidden;
        display: inline-block;
        margin-right: 8px;
        background: url(../img/footer_btm_icon.png) no-repeat; }
      .footer .footerBottom2 .FooterBottomBox .bottomLog2 {
        width: 126px;
        height: 50px;
        overflow: hidden;
        display: inline-block;
        margin-right: 8px;
        background: url(../img/footer_btm_icon.png) no-repeat -126px; }
      .footer .footerBottom2 .FooterBottomBox .bottomLog3 {
        width: 126px;
        height: 50px;
        overflow: hidden;
        display: inline-block;
        margin-right: 8px;
        background: url(../img/footer_btm_icon.png) no-repeat -251px; }
      .footer .footerBottom2 .FooterBottomBox .bottomLog4 {
        width: 126px;
        height: 50px;
        overflow: hidden;
        display: inline-block;
        margin-right: 8px;
        background: url(../img/footer_btm_icon.png) no-repeat -378px; }
      .footer .footerBottom2 .FooterBottomBox .bottomLog5 {
        width: 126px;
        height: 50px;
        overflow: hidden;
        display: inline-block;
        margin-right: 8px;
        background: url(../img/footer_btm_icon.png) no-repeat -505px; }
      .footer .footerBottom2 .FooterBottomBox .bottomLog6 {
        width: 55px;
        height: 50px;
        background: url(../img/bz.jpg) no-repeat;
        display: inline-block; }
  .footer .footerBottom2:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
    visibility: hidden; }

.leftSidebar {
  height: 248px;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  width: 60px;
  position: fixed;
  top: 100px;
  right: 50%;
  margin-right: 560px;
  overflow: visible;
  z-index: 12;
  transition: all .3s ease;
  backface-visibility: hidden; }
  .leftSidebar .allLeft {
    width: 60px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    display: none;
    margin: auto; }
    .leftSidebar .allLeft .leftIndex {
      width: 60px;
      height: 45px;
      font-size: 14px;
      background: #fe6397;
      color: #fff;
      text-align: center;
      padding-top: 14px;
      border-bottom: 1px solid #fff; }
    .leftSidebar .allLeft .remainLeft {
      width: 60px;
      font-size: 12px;
      border-bottom: 2px solid #fe6397; }
      .leftSidebar .allLeft .remainLeft .firstRemain {
        height: 62px; }
        .leftSidebar .allLeft .remainLeft .firstRemain a {
          width: 60px;
          height: 22px;
          padding-top: 40px;
          text-align: center;
          display: block;
          color: #8f8f8f;
          background: url(../img/pc_new.jpg) #fff no-repeat; }
          .leftSidebar .allLeft .remainLeft .firstRemain a span {
            text-align: center;
            display: block;
            height: 20px; }
        .leftSidebar .allLeft .remainLeft .firstRemain a:hover {
          color: #fe5b91;
          background: url(../img/pc_new.jpg) #fff no-repeat -86px 0px; }
      .leftSidebar .allLeft .remainLeft .sectionRemain {
        height: 62px; }
        .leftSidebar .allLeft .remainLeft .sectionRemain a {
          width: 60px;
          height: 22px;
          padding-top: 40px;
          text-align: center;
          display: block;
          color: #8f8f8f;
          background: url(../img/pc_new.jpg) #fff no-repeat 0px -126px; }
          .leftSidebar .allLeft .remainLeft .sectionRemain a span {
            text-align: center;
            display: block;
            height: 20px; }
        .leftSidebar .allLeft .remainLeft .sectionRemain a:hover {
          color: #fe5b91;
          background: url(../img/pc_new.jpg) #fff no-repeat -86px -126px; }
      .leftSidebar .allLeft .remainLeft .thirdRemain {
        height: 62px; }
        .leftSidebar .allLeft .remainLeft .thirdRemain a {
          width: 60px;
          height: 22px;
          padding-top: 40px;
          text-align: center;
          display: block;
          color: #8f8f8f;
          background: url(../img/pc_new.jpg) #fff no-repeat 0px -190px; }
          .leftSidebar .allLeft .remainLeft .thirdRemain a span {
            text-align: center;
            display: block;
            height: 20px; }
        .leftSidebar .allLeft .remainLeft .thirdRemain a:hover {
          color: #fe5b91;
          background: url(../img/pc_new.jpg) #fff no-repeat -86px -190px; }

.rightSidebar {
  z-index: 9990;
  right: 0px;
  position: fixed;
  top: 0px;
  display: block;
  height: 100%;
  width: 40px;
  font-size: 12px; }
  .rightSidebar .firstRightSidebar {
    width: 40px;
    height: 100%;
    position: absolute;
    background: #444851;
    z-index: 2;
    top: 0;
    font-family: 'microsoft yahei',arial; }
    .rightSidebar .firstRightSidebar a {
      display: block;
      line-height: 200px;
      width: 40px;
      height: 38px;
      text-decoration: none;
      color: #d8d8d8;
      background-color: #444851;
      position: relative;
      overflow: hidden;
      top: 0;
      left: 0;
      z-index: 1; }
    .rightSidebar .firstRightSidebar .topRightSidebar {
      position: absolute;
      top: 50%;
      margin-top: -190px;
      left: 0;
      background: #444851;
      z-index: 2; }
      .rightSidebar .firstRightSidebar .topRightSidebar .topFirstGird, .rightSidebar .firstRightSidebar .topRightSidebar .topTwoGird, .rightSidebar .firstRightSidebar .topRightSidebar .topThreeGird, .rightSidebar .firstRightSidebar .topRightSidebar .topFourGird, .rightSidebar .firstRightSidebar .topRightSidebar .topFiveGird {
        position: relative;
        display: block;
        height: 38px;
        z-index: 1; }
      .rightSidebar .firstRightSidebar .topRightSidebar .topFirstGird a span {
        width: 18px;
        height: 19px;
        top: 10px;
        left: 11px;
        position: absolute;
        cursor: pointer;
        background: url(../img/ibar_sprites.png) no-repeat; }
      .rightSidebar .firstRightSidebar .topRightSidebar .topTwoGird {
        padding: 20px 0 10px;
        height: 133px;
        left: 0; }
        .rightSidebar .firstRightSidebar .topRightSidebar .topTwoGird #TwoGirda {
          line-height: 16px;
          height: 133px;
          color: #fff;
          background: url(../img/ibar_sprites.png) no-repeat;
          background-position: -23px -225px; }
          .rightSidebar .firstRightSidebar .topRightSidebar .topTwoGird #TwoGirda span {
            width: 23px;
            height: 18px;
            top: 11px;
            left: 9px;
            position: absolute;
            cursor: pointer;
            background: url(../img/ibar_sprites.png) no-repeat;
            background-position: 0 -29px; }
          .rightSidebar .firstRightSidebar .topRightSidebar .topTwoGird #TwoGirda .text1 {
            width: 16px;
            height: 48px;
            margin: 38px 0 0 14px;
            cursor: pointer; }
          .rightSidebar .firstRightSidebar .topRightSidebar .topTwoGird #TwoGirda .text2 {
            width: 23px;
            height: 23px;
            display: block;
            border-radius: 50%;
            background: #ed145b;
            text-align: center;
            line-height: 23px;
            margin: 9px 0 0 10px;
            cursor: pointer;
            color: #fff; }
      .rightSidebar .firstRightSidebar .topRightSidebar .topFirstGird:hover a, .rightSidebar .firstRightSidebar .topRightSidebar .topTwoGird:hover #TwoGirda, .rightSidebar .firstRightSidebar .topRightSidebar .topThreeGird:hover a, .rightSidebar .firstRightSidebar .topRightSidebar .topFourGird:hover a, .rightSidebar .firstRightSidebar .topRightSidebar .topFiveGird:hover a {
        background: #ed145b;
        z-index: 10; }
      .rightSidebar .firstRightSidebar .topRightSidebar .topFirstGird:hover a span {
        background: url(../img/ibar_sprites.png) no-repeat;
        background-position: -33px 0; }
      .rightSidebar .firstRightSidebar .topRightSidebar .topTwoGird:hover #TwoGirda span {
        background: url(../img/ibar_sprites.png) no-repeat;
        background-position: -33px -29px; }
      .rightSidebar .firstRightSidebar .topRightSidebar .topThreeGird:hover a span {
        background: url(../img/ibar_sprites.png) no-repeat;
        background-position: -33px -57px; }
      .rightSidebar .firstRightSidebar .topRightSidebar .topFourGird:hover a span {
        background: url(../img/ibar_sprites.png) no-repeat;
        background-position: -33px -85px; }
      .rightSidebar .firstRightSidebar .topRightSidebar .topFiveGird:hover a span {
        background: url(../img/ibar_sprites.png) no-repeat;
        background-position: -37px -110px; }
      .rightSidebar .firstRightSidebar .topRightSidebar .topThreeGird {
        padding-bottom: 6px; }
        .rightSidebar .firstRightSidebar .topRightSidebar .topThreeGird a span {
          width: 18px;
          height: 18px;
          top: 10px;
          background: url(../img/ibar_sprites.png) no-repeat;
          background-position: 0 -57px;
          left: 11px;
          position: absolute;
          cursor: pointer; }
        .rightSidebar .firstRightSidebar .topRightSidebar .topThreeGird .threeDiv {
          height: 38px;
          line-height: 38px;
          width: 92px;
          position: absolute;
          z-index: 2;
          left: -112px;
          top: 0;
          background: #444851;
          color: #d8d8d8;
          text-align: center;
          display: block;
          visibility: hidden; }
          .rightSidebar .firstRightSidebar .topRightSidebar .topThreeGird .threeDiv span {
            position: absolute;
            right: -5px;
            top: 15px;
            width: 5px;
            height: 9px;
            overflow: hidden;
            cursor: pointer;
            background: url(../img/ibar_sprites.png) no-repeat;
            background-position: 0 -234px; }
      .rightSidebar .firstRightSidebar .topRightSidebar .topFourGird {
        padding-bottom: 6px; }
        .rightSidebar .firstRightSidebar .topRightSidebar .topFourGird a span {
          width: 18px;
          position: absolute;
          height: 15px;
          top: 11px;
          left: 11px;
          cursor: pointer;
          background: url(../img/ibar_sprites.png) no-repeat;
          background-position: 0 -85px; }
        .rightSidebar .firstRightSidebar .topRightSidebar .topFourGird .fourDiv {
          height: 38px;
          line-height: 38px;
          width: 92px;
          position: absolute;
          z-index: 2;
          left: -112px;
          top: 0;
          background: #444851;
          color: #d8d8d8;
          text-align: center;
          display: block;
          visibility: hidden; }
          .rightSidebar .firstRightSidebar .topRightSidebar .topFourGird .fourDiv span {
            position: absolute;
            right: -5px;
            top: 15px;
            width: 5px;
            height: 9px;
            overflow: hidden;
            cursor: pointer;
            background: url(../img/ibar_sprites.png) no-repeat;
            background-position: 0 -234px; }
      .rightSidebar .firstRightSidebar .topRightSidebar .topFiveGird {
        padding-bottom: 6px; }
        .rightSidebar .firstRightSidebar .topRightSidebar .topFiveGird a span {
          width: 11px;
          height: 24px;
          top: 8px;
          left: 14px;
          cursor: pointer;
          position: absolute;
          background: url(../img/ibar_sprites.png) no-repeat;
          background-position: -4px -110px; }
        .rightSidebar .firstRightSidebar .topRightSidebar .topFiveGird .fiveDiv {
          height: 38px;
          line-height: 38px;
          width: 92px;
          position: absolute;
          z-index: 2;
          left: -112px;
          top: 0;
          background: #444851;
          color: #d8d8d8;
          text-align: center;
          display: block;
          visibility: hidden; }
          .rightSidebar .firstRightSidebar .topRightSidebar .topFiveGird .fiveDiv span {
            position: absolute;
            background: url(../img/ibar_sprites.png) no-repeat;
            cursor: pointer;
            right: -5px;
            top: 15px;
            width: 5px;
            height: 9px;
            background-position: 0 -234px;
            overflow: hidden; }
    .rightSidebar .firstRightSidebar .bottomRightSidebar {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 40px;
      background: #444851;
      z-index: 1; }
      .rightSidebar .firstRightSidebar .bottomRightSidebar .firstBottomSidebar, .rightSidebar .firstRightSidebar .bottomRightSidebar .twoBottomSidebar, .rightSidebar .firstRightSidebar .bottomRightSidebar .threeBottomSidebar {
        position: relative;
        display: block;
        height: 38px;
        z-index: 1; }
      .rightSidebar .firstRightSidebar .bottomRightSidebar .firstBottomSidebar a span {
        width: 18px;
        height: 18px;
        top: 11px;
        left: 11px;
        position: absolute;
        cursor: pointer;
        background: url(../img/ibar_sprites.png) no-repeat;
        background-position: 0 -302px; }
      .rightSidebar .firstRightSidebar .bottomRightSidebar .firstBottomSidebar .firstBottomDiv {
        padding: 10px;
        width: 148px;
        height: 175px;
        top: -157px;
        background: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        border-radius: 5px 0 0 5px;
        z-index: 3;
        position: absolute;
        left: -168px;
        display: none; }
        .rightSidebar .firstRightSidebar .bottomRightSidebar .firstBottomSidebar .firstBottomDiv img {
          width: 148px;
          height: 175px;
          border: 0; }
        .rightSidebar .firstRightSidebar .bottomRightSidebar .firstBottomSidebar .firstBottomDiv span {
          position: absolute;
          right: -5px;
          top: 172px;
          width: 5px;
          height: 9px;
          cursor: pointer;
          background: url(../img/ibar_sprites.png) no-repeat;
          background-position: 0 -253px; }
      .rightSidebar .firstRightSidebar .bottomRightSidebar .twoBottomSidebar a span {
        width: 15px;
        height: 16px;
        top: 11px;
        left: 12px;
        position: absolute;
        cursor: pointer;
        background: url(../img/ibar_sprites.png) no-repeat;
        background-position: 0 -175px; }
      .rightSidebar .firstRightSidebar .bottomRightSidebar .twoBottomSidebar .twoBottomDiv {
        height: 38px;
        line-height: 38px;
        width: 92px;
        position: absolute;
        z-index: 2;
        left: -112px;
        top: 0;
        background: #444851;
        color: #d8d8d8;
        text-align: center;
        display: block;
        visibility: hidden; }
        .rightSidebar .firstRightSidebar .bottomRightSidebar .twoBottomSidebar .twoBottomDiv span {
          position: absolute;
          right: -5px;
          top: 15px;
          width: 5px;
          height: 9px;
          overflow: hidden;
          cursor: pointer;
          background: url(../img/ibar_sprites.png) no-repeat;
          background-position: 0 -234px; }
      .rightSidebar .firstRightSidebar .bottomRightSidebar .threeBottomSidebar a span {
        width: 17px;
        height: 14px;
        top: 12px;
        left: 12px;
        position: absolute;
        cursor: pointer;
        background: url(../img/ibar_sprites.png) no-repeat;
        background-position: 0 -201px; }
      .rightSidebar .firstRightSidebar .bottomRightSidebar .threeBottomSidebar .threeBottomDiv {
        height: 38px;
        line-height: 38px;
        width: 92px;
        position: absolute;
        z-index: 2;
        left: -112px;
        top: 0;
        background: #444851;
        color: #d8d8d8;
        text-align: center;
        display: block;
        visibility: hidden; }
        .rightSidebar .firstRightSidebar .bottomRightSidebar .threeBottomSidebar .threeBottomDiv span {
          position: absolute;
          right: -5px;
          top: 15px;
          width: 5px;
          height: 9px;
          overflow: hidden;
          cursor: pointer;
          background: url(../img/ibar_sprites.png) no-repeat;
          background-position: 0 -234px; }
      .rightSidebar .firstRightSidebar .bottomRightSidebar .firstBottomSidebar:hover a, .rightSidebar .firstRightSidebar .bottomRightSidebar .twoBottomSidebar:hover a, .rightSidebar .firstRightSidebar .bottomRightSidebar .threeBottomSidebar:hover a {
        background: #ed145b;
        z-index: 10; }
      .rightSidebar .firstRightSidebar .bottomRightSidebar .twoBottomSidebar:hover a span {
        background: url(../img/ibar_sprites.png) no-repeat;
        background-position: -33px -175px; }
  .rightSidebar .twoRightSidebar {
    width: 267px;
    display: none;
    height: 185px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px 0 0 5px;
    z-index: 3;
    position: absolute;
    left: -287px;
    font-size: 12px; }
    .rightSidebar .twoRightSidebar .twoRSidebar1div {
      height: 118px;
      width: 267px;
      overflow: hidden; }
      .rightSidebar .twoRightSidebar .twoRSidebar1div p {
        font-size: 14px;
        color: #333;
        text-align: center; }
        .rightSidebar .twoRightSidebar .twoRSidebar1div p a {
          color: #ed145b;
          text-decoration: none; }
      .rightSidebar .twoRightSidebar .twoRSidebar1div .tRSidebar1p {
        margin: 10px auto 10px;
        width: 62px;
        height: 62px;
        border-radius: 50%;
        overflow: hidden; }
        .rightSidebar .twoRightSidebar .twoRSidebar1div .tRSidebar1p img {
          border: 0; }
    .rightSidebar .twoRightSidebar .twoRSidebar2div {
      width: 267px;
      height: 79px;
      border-top: 1px dotted #d5d5d5;
      overflow: hidden;
      padding-top: 15px;
      clear: both; }
      .rightSidebar .twoRightSidebar .twoRSidebar2div .myOrder {
        background: url(../img/ibar_sprites.png) no-repeat;
        background-position: 0 -408px;
        margin: 0 10px 0 35px; }
      .rightSidebar .twoRightSidebar .twoRSidebar2div .myOrder:hover {
        background-position: 0 -366px;
        border-color: #fccadb; }
      .rightSidebar .twoRightSidebar .twoRSidebar2div .mycollect {
        border-color: #e9e9e9;
        background: url(../img/ibar_sprites.png) no-repeat;
        background-position: 0 -408px; }
      .rightSidebar .twoRightSidebar .twoRSidebar2div .mycollect:hover {
        background-position: 0 -366px;
        border-color: #fccadb; }
      .rightSidebar .twoRightSidebar .twoRSidebar2div a {
        width: 94px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border: 1px solid;
        color: #333;
        text-decoration: none;
        background: url(../img/ibar_sprites.png) no-repeat;
        float: left;
        background-position: 0 -408px;
        background-repeat: repeat-x;
        border-color: #e9e9e9; }
    .rightSidebar .twoRightSidebar .twoRSidebarspan {
      position: absolute;
      right: -5px;
      top: 15px;
      width: 5px;
      height: 9px;
      background-position: 0 -253px; }
    .rightSidebar .twoRightSidebar .twoRSidebara {
      width: 20px;
      height: 20px;
      background: url(../img/ibar_sprites.png) no-repeat;
      background-position: 5px -267px;
      padding: 5px;
      overflow: hidden;
      position: absolute;
      top: 4px;
      right: 4px; }
  .rightSidebar .threeRightSidebar {
    width: 287px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px 0 0 5px;
    display: none;
    overflow: hidden; }
    .rightSidebar .threeRightSidebar .RightSidebar_A {
      width: 20px;
      height: 20px;
      padding: 5px;
      overflow: hidden;
      position: absolute;
      top: 4px;
      right: 4px;
      background: url(../img/ibar_sprites.png) no-repeat;
      background-position: 5px -267px; }
    .rightSidebar .threeRightSidebar .RightSidebar_Span {
      position: absolute;
      top: 145px;
      left: 50%;
      color: #666;
      z-index: 1;
      margin-left: -66px; }
    .rightSidebar .threeRightSidebar .RightSidebar_Div {
      width: 287px;
      height: 100%;
      background: #fff; }
      .rightSidebar .threeRightSidebar .RightSidebar_Div .TheSidebarBoxTop {
        height: 38px;
        line-height: 38px;
        border-bottom: 1px solid #dedede;
        color: #333;
        font-size: 14px;
        font-weight: 700;
        width: 267px;
        margin: 0 auto; }
        .rightSidebar .threeRightSidebar .RightSidebar_Div .TheSidebarBoxTop .BoxTopContent {
          height: 38px;
          line-height: 38px;
          border-bottom: 1px solid #dedede;
          color: #333;
          font-size: 14px;
          font-weight: 700;
          width: 267px;
          margin: 0 auto; }
          .rightSidebar .threeRightSidebar .RightSidebar_Div .TheSidebarBoxTop .BoxTopContent .timeord {
            margin: 0 0 0 5px;
            font-size: 12px;
            height: 38px;
            line-height: 38px;
            border-bottom: 1px solid #dedede;
            color: #333;
            font-size: 14px;
            font-weight: 700;
            width: 267px;
            margin: 0 auto; }
      .rightSidebar .threeRightSidebar .RightSidebar_Div .TheSidebarBoxBottom {
        height: 706px;
        overflow-y: auto;
        width: 100%;
        margin-left: 0;
        background: #fff;
        position: absolute;
        z-index: 2; }
        .rightSidebar .threeRightSidebar .RightSidebar_Div .TheSidebarBoxBottom .BoxBottomOne {
          position: absolute;
          width: 100%;
          top: 0;
          bottom: 100px;
          overflow: hidden;
          background: url(../img/cart_empty_bg.jpg) no-repeat 50% 20px; }
          .rightSidebar .threeRightSidebar .RightSidebar_Div .TheSidebarBoxBottom .BoxBottomOne p {
            display: none;
            margin: 75px 0 0;
            text-align: center;
            font-family: "Microsoft YaHei"; }
        .rightSidebar .threeRightSidebar .RightSidebar_Div .TheSidebarBoxBottom .BoxBottomTwo {
          position: absolute;
          height: 100px;
          bottom: 0;
          width: 100%;
          background: #fff; }
          .rightSidebar .threeRightSidebar .RightSidebar_Div .TheSidebarBoxBottom .BoxBottomTwo .BoxBottomTwo1 {
            width: 262px;
            margin: 8px auto; }
            .rightSidebar .threeRightSidebar .RightSidebar_Div .TheSidebarBoxBottom .BoxBottomTwo .BoxBottomTwo1 .BoxBottomTwo11 {
              float: left; }
              .rightSidebar .threeRightSidebar .RightSidebar_Div .TheSidebarBoxBottom .BoxBottomTwo .BoxBottomTwo1 .BoxBottomTwo11 .BoxBottomList {
                color: #ed145b; }
            .rightSidebar .threeRightSidebar .RightSidebar_Div .TheSidebarBoxBottom .BoxBottomTwo .BoxBottomTwo1 .BoxBottomTwo22 {
              float: right;
              font-weight: 700;
              font-size: 16px;
              font-family: "Microsoft YaHei","Microsoft JhengHei",STHeiti,MingLiu;
              color: #ed145b; }
          .rightSidebar .threeRightSidebar .RightSidebar_Div .TheSidebarBoxBottom .BoxBottomTwo .BoxBottomTwo2 {
            display: block;
            height: 33px;
            line-height: 33px;
            margin: 0 auto;
            font-size: 19px;
            font-family: SimHei;
            color: #fff;
            text-align: center;
            text-decoration: none;
            background: #ed145b;
            width: 262px; }
  .rightSidebar .foreRightSidebar {
    width: 183px;
    height: 90px;
    padding: 10px 15px 10px 5px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px 0 0 5px;
    z-index: 3;
    position: absolute;
    left: -203px;
    top: 245px;
    display: none; }
    .rightSidebar .foreRightSidebar .foreRSidebarDiv {
      padding-top: 13px;
      width: 183px; }
      .rightSidebar .foreRightSidebar .foreRSidebarDiv h3 {
        text-align: center;
        color: #ed145b;
        font-size: 14px;
        font-weight: 400; }
      .rightSidebar .foreRightSidebar .foreRSidebarDiv p {
        text-align: center;
        height: 30px;
        line-height: 30px; }
      .rightSidebar .foreRightSidebar .foreRSidebarDiv a {
        background: url(../img/coupon.jpg) no-repeat;
        float: left;
        margin-left: 47px;
        width: 90px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        text-decoration: none; }
    .rightSidebar .foreRightSidebar .foreRSidebarSpan {
      position: absolute;
      right: -5px;
      top: 15px;
      width: 5px;
      background: url(../img/ibar_sprites.png) no-repeat;
      height: 9px;
      background-position: 0 -253px; }
    .rightSidebar .foreRightSidebar .foreClose {
      width: 20px;
      background: url(../img/ibar_sprites.png) no-repeat;
      height: 20px;
      background-position: 5px -267px;
      padding: 5px;
      overflow: hidden;
      position: absolute;
      top: 4px;
      right: 4px; }

.dropDownBox {
  width: 1190px;
  position: absolute;
  background: #fff;
  left: 167px;
  z-index: 18;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), inset 0 0 1px 0 white;
  display: none; }
  .dropDownBox a {
    width: auto;
    height: auto;
    font-size: 12px;
    border-bottom: 0;
    text-align: inherit;
    line-height: inherit;
    padding: 0; }
  .dropDownBox .dropDownBoxLeft {
    width: 254px;
    float: left;
    margin: 10px; }
    .dropDownBox .dropDownBoxLeft a {
      width: 254px;
      height: 134px;
      overflow: hidden;
      margin-bottom: 10px;
      display: block;
      font-size: 12px;
      border-bottom: 0;
      text-align: inherit;
      line-height: inherit;
      padding: 0; }
  .dropDownBox .dropDownBoxRight {
    float: left;
    width: 800px;
    margin-top: 10px; }
    .dropDownBox .dropDownBoxRight dl {
      width: 256px;
      float: left;
      height: 104px;
      overflow: hidden;
      border: dotted #e5e5e5;
      border-width: 0 0 1px 1px;
      margin-left: -1px;
      padding: 10px 0 22px 7px; }
      .dropDownBox .dropDownBoxRight dl dt {
        background: url(../img/new_header_icon.png) no-repeat;
        line-height: 30px;
        height: 30px;
        overflow: hidden;
        padding-left: 40px;
        margin-bottom: 12px; }
        .dropDownBox .dropDownBoxRight dl dt a {
          font-size: 15px;
          font-weight: 700;
          color: #333;
          text-decoration: none;
          text-align: left;
          background: 0;
          white-space: nowrap;
          display: inline;
          font-family: "\5FAE\8F6F\96C5\9ED1",arial,"\5b8b\4f53"; }
      .dropDownBox .dropDownBoxRight dl .dropDownBoxRight1 {
        background-position: 5px -170px; }
      .dropDownBox .dropDownBoxRight dl .dropDownBoxRight2 {
        background-position: 10px 4px; }
      .dropDownBox .dropDownBoxRight dl .dropDownBoxRight3 {
        background-position: 10px -22px; }
      .dropDownBox .dropDownBoxRight dl .dropDownBoxRight4 {
        background-position: 8px -113px; }
      .dropDownBox .dropDownBoxRight dl .dropDownBoxRight5 {
        background-position: 10px -140px; }
      .dropDownBox .dropDownBoxRight dl .dropDownBoxRight6 {
        background-position: 10px -82px; }
      .dropDownBox .dropDownBoxRight dl dd {
        float: left;
        padding: 0 12px; }
        .dropDownBox .dropDownBoxRight dl dd a {
          color: #666;
          font-size: 12px;
          font-weight: 400;
          display: inline;
          width: auto;
          height: auto;
          line-height: 24px;
          text-align: left;
          background: 0;
          white-space: nowrap; }
